@keyframes cookieRandom {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-100%) rotateZ(0deg);
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.6;
        -webkit-transform: translateY(calc(100vh - 148px)) rotateZ(360deg);
        /* -webkit-transform: translateY(calc(100vh - 148px)); */
    }
}